body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
}

.about-me img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    border: 2px solid black; 
}

.resources a {
    color: #3498db;
    text-decoration: none;
}

.resources a:hover {
    text-decoration: underline;
}
